In [27]:
# Dependencies
import pandas as pd
import numpy as np

In [44]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from numpy import genfromtxt
from time import time
from datetime import datetime
from sqlalchemy import Column, Integer, Float, Date
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmake

In [28]:
file1 = 'Resources/education-income.csv'

In [29]:
file2 ='Resources/employment.csv'

In [30]:
df1 = pd.read_csv(file1)

In [31]:
df1.head()

,Neighborhood,Sector #,Population (2010),"Total Pop, 25 and older (2010)",Edu. Attainment: Less than High School (2010),Edu. Attainment: High School Graduate (2010),Edu. Attainment: Assoc./Prof. Degree (2010),Edu. Attainment: Bachelor's Degree (2010),Edu. Attainment: Postgraduate Degree (2010),1999 Median Income ('99 Dollars),2009 Median Income ('09 Dollars),1999 Median Income ('11 Dollars),2009 Med. Income ('13 Dollars),Est. Pop. for which Poverty Calc. (2010),Est. Pop. Under Poverty (2010),Est. Percent Under Poverty (2010)
0,Allegheny Center,3,933,609,18.7%,44.5%,17.2%,15.8%,3.8%,"$16,964","$20,911","$22,535","$22,793",954,324,34.0%
1,Allegheny West,3,462,239,9.2%,28.9%,6.7%,44.8%,10.5%,"$26,638","$41,761","$35,386","$45,519",239,12,5.0%
2,Allentown,6,"2,500","1,729",23.0%,63.3%,6.6%,5.6%,1.5%,"$22,539","$29,274","$29,941","$31,909","2,212",630,28.5%
3,Arlington,7,"1,869","1,232",14.9%,65.3%,10.1%,7.1%,2.5%,"$27,167","$25,119","$36,089","$27,380","1,779",361,20.3%
4,Arlington Heights,7,244,166,18.1%,74.1%,0.0%,7.8%,0.0%,"$18,646","$9,417","$24,769","$10,265",293,169,57.7%

In [32]:
df1.shape

(90, 16)

In [33]:
len(df1['Neighborhood'])

90

In [34]:
df2 = pd.read_csv(file2)

In [35]:
df2.head()

,Neighborhood,Sector #,Population (2010),Total Age 16+ N'hood Residents Employed (2010 Est.),Resident Jobs: Construction,Resident Jobs: Manufacturing,Resident Jobs: Retail Trade,"Resident Jobs: Transportation, warehousing, utilities",Resident Jobs: Information,"Resident Jobs: Finance, insurance, real estate",...,Jobs in 'Hood: Manufacturing,Jobs in 'Hood: Retail trade,"Jobs in 'Hood: Transport, warehousing, utilities",Jobs in 'Hood: Information,"Jobs in 'Hood: Finance, insurance, real estate","Jobs in 'Hood: Prof, scientific, admin, and waste mgmt","Jobs in 'Hood: Educ, health, and social svc","Jobs in 'Hood: Arts, ent, recreation, accommodation and food services",Jobs in 'Hood: Public admin,Jobs in 'Hood: Other
0,Allegheny Center,3,933,386,3.1%,1.8%,11.9%,0.0%,0.0%,10.4%,...,9.4%,1.8%,7.7%,8.5%,21.3%,9.3%,25.8%,6.7%,2.0%,4.4%
1,Allegheny West,3,462,151,0.0%,6.6%,0.0%,14.6%,0.0%,0.0%,...,12.4%,3.1%,0.3%,0.8%,6.6%,3.9%,48.7%,4.6%,1.9%,16.6%
2,Allentown,6,"2,500",858,4.2%,7.8%,11.9%,5.6%,2.3%,8.4%,...,0.0%,31.0%,8.5%,0.0%,4.2%,8.5%,14.1%,8.5%,2.8%,15.5%
3,Arlington,7,"1,869",685,7.2%,13.0%,12.3%,1.8%,5.0%,0.9%,...,6.5%,0.0%,0.0%,6.5%,0.0%,0.0%,64.5%,0.0%,0.0%,6.5%
4,Arlington Heights,7,244,72,0.0%,0.0%,13.9%,0.0%,0.0%,29.2%,...,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,100.0%,0.0%,0.0%,0.0%

In [36]:
df2.shape

(90, 27)

In [37]:
len(df2['Neighborhood'])

90

In [38]:
merged_df = pd.merge(df1, df2, on='Neighborhood', how='outer')

In [39]:
merged_df.head()

,Neighborhood,Sector #_x,Population (2010)_x,"Total Pop, 25 and older (2010)",Edu. Attainment: Less than High School (2010),Edu. Attainment: High School Graduate (2010),Edu. Attainment: Assoc./Prof. Degree (2010),Edu. Attainment: Bachelor's Degree (2010),Edu. Attainment: Postgraduate Degree (2010),1999 Median Income ('99 Dollars),...,Jobs in 'Hood: Manufacturing,Jobs in 'Hood: Retail trade,"Jobs in 'Hood: Transport, warehousing, utilities",Jobs in 'Hood: Information,"Jobs in 'Hood: Finance, insurance, real estate","Jobs in 'Hood: Prof, scientific, admin, and waste mgmt","Jobs in 'Hood: Educ, health, and social svc","Jobs in 'Hood: Arts, ent, recreation, accommodation and food services",Jobs in 'Hood: Public admin,Jobs in 'Hood: Other
0,Allegheny Center,3,933,609,18.7%,44.5%,17.2%,15.8%,3.8%,"$16,964",...,9.4%,1.8%,7.7%,8.5%,21.3%,9.3%,25.8%,6.7%,2.0%,4.4%
1,Allegheny West,3,462,239,9.2%,28.9%,6.7%,44.8%,10.5%,"$26,638",...,12.4%,3.1%,0.3%,0.8%,6.6%,3.9%,48.7%,4.6%,1.9%,16.6%
2,Allentown,6,"2,500","1,729",23.0%,63.3%,6.6%,5.6%,1.5%,"$22,539",...,0.0%,31.0%,8.5%,0.0%,4.2%,8.5%,14.1%,8.5%,2.8%,15.5%
3,Arlington,7,"1,869","1,232",14.9%,65.3%,10.1%,7.1%,2.5%,"$27,167",...,6.5%,0.0%,0.0%,6.5%,0.0%,0.0%,64.5%,0.0%,0.0%,6.5%
4,Arlington Heights,7,244,166,18.1%,74.1%,0.0%,7.8%,0.0%,"$18,646",...,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,100.0%,0.0%,0.0%,0.0%

In [40]:
merged_df.columns

Index(['Neighborhood', 'Sector #_x', 'Population (2010)_x',
       'Total Pop, 25 and older (2010)',
       'Edu. Attainment: Less than High School (2010)',
       'Edu. Attainment: High School Graduate (2010)',
       'Edu. Attainment: Assoc./Prof. Degree (2010)',
       'Edu. Attainment: Bachelor's Degree (2010)',
       'Edu. Attainment: Postgraduate Degree (2010)',
       '1999 Median Income ('99 Dollars)', '2009 Median Income ('09 Dollars)',
       '1999 Median Income ('11 Dollars)', '2009 Med. Income ('13 Dollars)',
       'Est. Pop. for which Poverty Calc. (2010)',
       'Est. Pop. Under Poverty (2010)', 'Est. Percent Under Poverty (2010)',
       'Sector #_y', 'Population (2010)_y',
       'Total Age 16+ N'hood Residents Employed (2010 Est.)',
       'Resident Jobs: Construction', 'Resident Jobs: Manufacturing',
       'Resident Jobs: Retail Trade',
       'Resident Jobs: Transportation, warehousing, utilities',
       'Resident Jobs: Information',
       'Resident Jobs: Finance, insurance, real estate',
       'Resident Jobs: Prof, scientific, admin, and waste mgmt',
       'Resident Jobs: Educ, health and social svc',
       'Resident Jobs: Arts, ent, recreation, accommodation and food services',
       'Resident Jobs: Public admin', 'Resident Jobs: Other',
       'Total # Jobs Located in N'hood (2000 - latest yr. avail.)',
       'Jobs in 'Hood: Construction', 'Jobs in 'Hood: Manufacturing',
       'Jobs in 'Hood: Retail trade',
       'Jobs in 'Hood: Transport, warehousing, utilities',
       'Jobs in 'Hood: Information',
       'Jobs in 'Hood: Finance, insurance, real estate',
       'Jobs in 'Hood: Prof, scientific, admin, and waste mgmt',
       'Jobs in 'Hood: Educ, health, and social svc',
       'Jobs in 'Hood: Arts, ent, recreation, accommodation and food services',
       'Jobs in 'Hood: Public admin', 'Jobs in 'Hood: Other'],
      dtype='object')

In [41]:
merged_df = merged_df.drop(columns=['Sector #_y', 'Population (2010)_y'])

In [42]:
merged_df.columns

Index(['Neighborhood', 'Sector #_x', 'Population (2010)_x',
       'Total Pop, 25 and older (2010)',
       'Edu. Attainment: Less than High School (2010)',
       'Edu. Attainment: High School Graduate (2010)',
       'Edu. Attainment: Assoc./Prof. Degree (2010)',
       'Edu. Attainment: Bachelor's Degree (2010)',
       'Edu. Attainment: Postgraduate Degree (2010)',
       '1999 Median Income ('99 Dollars)', '2009 Median Income ('09 Dollars)',
       '1999 Median Income ('11 Dollars)', '2009 Med. Income ('13 Dollars)',
       'Est. Pop. for which Poverty Calc. (2010)',
       'Est. Pop. Under Poverty (2010)', 'Est. Percent Under Poverty (2010)',
       'Total Age 16+ N'hood Residents Employed (2010 Est.)',
       'Resident Jobs: Construction', 'Resident Jobs: Manufacturing',
       'Resident Jobs: Retail Trade',
       'Resident Jobs: Transportation, warehousing, utilities',
       'Resident Jobs: Information',
       'Resident Jobs: Finance, insurance, real estate',
       'Resident Jobs: Prof, scientific, admin, and waste mgmt',
       'Resident Jobs: Educ, health and social svc',
       'Resident Jobs: Arts, ent, recreation, accommodation and food services',
       'Resident Jobs: Public admin', 'Resident Jobs: Other',
       'Total # Jobs Located in N'hood (2000 - latest yr. avail.)',
       'Jobs in 'Hood: Construction', 'Jobs in 'Hood: Manufacturing',
       'Jobs in 'Hood: Retail trade',
       'Jobs in 'Hood: Transport, warehousing, utilities',
       'Jobs in 'Hood: Information',
       'Jobs in 'Hood: Finance, insurance, real estate',
       'Jobs in 'Hood: Prof, scientific, admin, and waste mgmt',
       'Jobs in 'Hood: Educ, health, and social svc',
       'Jobs in 'Hood: Arts, ent, recreation, accommodation and food services',
       'Jobs in 'Hood: Public admin', 'Jobs in 'Hood: Other'],
      dtype='object')

In [43]:
merged_df.shape

(90, 40)

def Load_Data(file_name):
    data = genfromtxt(file_name, delimiter=',', skip_header=1, converters={0: lambda s: str(s)})
    return data.tolist()

Base = declarative_base()

class Price_History(Base):
    #Tell SQLAlchemy what the table name is and if there's any table-specific arguments it should know about
    __tablename__ = 'Price_History'
    __table_args__ = {'sqlite_autoincrement': True}
    #tell SQLAlchemy the name of column and its attributes:
    id = Column(Integer, primary_key=True, nullable=False) 
    date = Column(Date)
    opn = Column(Float)
    hi = Column(Float)
    lo = Column(Float)
    close = Column(Float)
    vol = Column(Float)

if __name__ == "__main__":
    t = time()

    #Create the database
    engine = create_engine('sqlite:///csv_test.db')
    Base.metadata.create_all(engine)

    #Create the session
    session = sessionmaker()
    session.configure(bind=engine)
    s = session()
    
  try:
        file_name = "t.csv" #sample CSV file used:  http://www.google.com/finance/historical?q=NYSE%3AT&ei=W4ikVam8LYWjmAGjhoHACw&output=csv
        data = Load_Data(file_name) 

        for i in data:
            record = Price_History(**{
                'date' : datetime.strptime(i[0], '%d-%b-%y').date(),
                'opn' : i[1],
                'hi' : i[2],
                'lo' : i[3],
                'close' : i[4],
                'vol' : i[5]
            })
            s.add(record) #Add all the records

        s.commit() #Attempt to commit all the records
    except:
        s.rollback() #Rollback the changes on error
    finally:
        s.close() #Close the connection
    print "Time elapsed: " + str(time() - t) + " s." #0.091s

[]